<h1>Thêm Sản Phẩm</h1>
<form [formGroup]="formProduct" (ngSubmit)="updateProduct()">
  <table>

    <input type="hidden" formControlName="id">

    <tr>
      <td>Tên sản phẩm</td>
      <!--      <td><input type="text" formControlName="name" [value]="product?.name"></td>-->
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá Sản Phẩm:</td>
      <!--      <td><input type="text" formControlName="price" [value]="product?.price"></td>-->
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <td>Số Lượng:</td>
      <!--      <td><input type="text" formControlName="quantity" [value]="product?.quantity"></td>-->
      <td><input type="text" formControlName="quantity"></td>
    </tr>
    <tr>
      <td>Thể loại:</td>
      <td>
        <select formControlName="category">
          <!--          <option [value]="product?.category?.id">{{product?.category?.name}}</option>-->
          <option *ngFor="let c of listCategory" value="{{c.id}}">{{c.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Sửa</button>
        <button (click)="deleteProduct()">Xóa</button>
      </td>
    </tr>
  </table>
</form>
