<h1>List Book</h1>
<a routerLink="create" style="margin-right: 15px">Thêm Mới</a>
<table border="1" cellpadding="5">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let book of listBook">
    <td> {{book.id}}</td>
    <td> {{book.title}}</td>
    <td> {{book.author}}</td>
    <td> {{book.description}}</td>
    <td>
      <a routerLink="{{book.id}}/edit" style="margin-right: 15px">Edit</a>
<!--            <button >Edit</button>-->
    </td>
    <td>
      <a routerLink="{{book.id}}/view" style="margin-right: 15px">view</a>
<!--            <button >Edit</button>-->
    </td>
    <td>
      <button (click)="deleteBook(book.id)">Delete</button>
    </td>
  </tr>
</table>

