<div *ngFor="let product of lisProduct">
  <h1>{{product.id}} , {{product.name}},{{product.price}} </h1>
</div>
<form [formGroup]="formProduct" (ngSubmit)="addNewProduct()">
  ID    :<input type="text" formControlName="id">
  <br>
  Name: <input type="text" formControlName="name">
  <br>
  <div *ngIf="user&& user.invalid && user.dirty ">
    <span> Email không hợp lệ</span>
  </div>

  <br>
  Price: <input type="text" formControlName="price">
  <br>
  <button [disabled]="formProduct.invalid" >Submit</button>
</form>
