<h1>List Product</h1>
<a routerLink="create" style="margin-right: 15px">Thêm Mới</a>
<table border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Category</th>
    <th colspan="2">Action</th>
  </tr>
  <tr *ngFor="let product of listProduct">
    <td> {{product.name}}</td>
    <td> {{product.price}}</td>
    <td> {{product.quantity}}</td>
    <td> {{product.category?.name}}</td>
    <td>
      <a routerLink="{{product.id}}/update" style="margin-right: 15px">Edit</a>
<!--      <button >Edit</button>-->
    </td>
    <td>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </td>
  </tr>
</table>
